<a href="https://colab.research.google.com/github/MK2709/DataScience/blob/main/Pandas_Part_1_DF_Indexing_and_Selection%2C_Attributes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
people_dict={"first":["Richard", "Robert", "Jason"],
             "last" :["Stone", "Deepdive", "Seaborn"],
             "email": ["richardstone@email.com", "robertdeepdive@email.com", 
                        "jasonseaborn@email.com"]}
df=pd.DataFrame(people_dict)
df

     first      last                     email
0  Richard     Stone    richardstone@email.com
1   Robert  Deepdive  robertdeepdive@email.com
2    Jason   Seaborn    jasonseaborn@email.com

In [17]:
df["first"]

0    Richard
1     Robert
2      Jason
Name: first, dtype: object

In [18]:
df.iloc[1,2]

'robertdeepdive@email.com'

In [19]:
import numpy as np
outside = ['A1','A1','A1','A2','A2','A2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
np.random.seed(101)
data = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['X','Y'])
data

             X         Y
A1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
A2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [20]:
data.loc["A1"]

          X         Y
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [21]:
import pandas as pd
people_dict={"first":["Richard", "Robert", "Jason"],
             "last" :["Stone", "Deepdive", "Seaborn"],
             "email": ["richardstone@email.com", "robertdeepdive@email.com", 
                        "jasonseaborn@email.com"]}
df=pd.DataFrame(people_dict)
df

     first      last                     email
0  Richard     Stone    richardstone@email.com
1   Robert  Deepdive  robertdeepdive@email.com
2    Jason   Seaborn    jasonseaborn@email.com

In [22]:
df["last"]

0       Stone
1    Deepdive
2     Seaborn
Name: last, dtype: object

In [23]:
df.iloc[:,1]

0       Stone
1    Deepdive
2     Seaborn
Name: last, dtype: object

In [24]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'B', 'B', 'A', 'A'],
    'city' :    [ 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', 'blue', 'yellow', 'pink', 'black', 'green', 'red']
})

data

   age section     city gender favourite_color
0   10       A  Gurgaon      M             red
1   22       B    Delhi      F            blue
2   13       C   Mumbai      F          yellow
3   21       B    Delhi      M            pink
4   12       B   Mumbai      M           black
5   11       A    Delhi      M           green
6   17       A   Mumbai      F             red

In [25]:
data[(data["section"] == "B")&(data["gender"] == "F")]

   age section   city gender favourite_color
1   22       B  Delhi      F            blue

In [26]:
data[data["section"] == "B"]

   age section    city gender favourite_color
1   22       B   Delhi      F            blue
3   21       B   Delhi      M            pink
4   12       B  Mumbai      M           black

In [27]:
data["section"]=="B"

0    False
1     True
2    False
3     True
4     True
5    False
6    False
Name: section, dtype: bool

In [28]:
data[["age","city"]]

   age     city
0   10  Gurgaon
1   22    Delhi
2   13   Mumbai
3   21    Delhi
4   12   Mumbai
5   11    Delhi
6   17   Mumbai

In [29]:
data.set_index("section").loc["B"]

         age    city gender favourite_color
section
B         22   Delhi      F            blue
B         21   Delhi      M            pink
B         12  Mumbai      M           black

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              7 non-null      int64
 1   section          7 non-null      object
 2   city             7 non-null      object
 3   gender           7 non-null      object
 4   favourite_color  7 non-null      object
dtypes: int64(1), object(4)
memory usage: 408.0+ bytes

In [31]:
data.describe()

             age
count   7.000000
mean   15.142857
std     4.879500
min    10.000000
25%    11.500000
50%    13.000000
75%    19.000000
max    22.000000

In [32]:
data.sum() #integerlarda dahil hepsini topladi :))

age                                                     106
section                                             ABCBBAA
city               GurgaonDelhiMumbaiDelhiMumbaiDelhiMumbai
gender                                              MFFMMMF
favourite_color              redblueyellowpinkblackgreenred
dtype: object

In [33]:
data.value_counts()

age  section  city     gender  favourite_color
22   B        Delhi    F       blue               1
21   B        Delhi    M       pink               1
17   A        Mumbai   F       red                1
13   C        Mumbai   F       yellow             1
12   B        Mumbai   M       black              1
11   A        Delhi    M       green              1
10   A        Gurgaon  M       red                1
dtype: int64

In [34]:
data.mean()

age    15.142857
dtype: float64

In [35]:
data.isnull()

     age  section   city  gender  favourite_color
0  False    False  False   False            False
1  False    False  False   False            False
2  False    False  False   False            False
3  False    False  False   False            False
4  False    False  False   False            False
5  False    False  False   False            False
6  False    False  False   False            False

In [36]:
len(data)

7

In [37]:
data.shape #verilen data framein dimensionlarini verir 7x5 matrix

(7, 5)

In [38]:
data_2= pd.DataFrame(np.arange(15).reshape(3, 5), columns=['A', 'B', 'C', 'D','E'])
data_2

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [39]:
import numpy as np

data_3=pd.DataFrame(np.arange(25).reshape(5,5),index=["a","b","c","d","e"], columns=['A', 'B', 'C', 'D','E'])
data_3

    A   B   C   D   E
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [40]:
data_3.drop(["B","E"], axis=1) #axis=1 ile kolonlarda islem yapiyoruz

    A   C   D
a   0   2   3
b   5   7   8
c  10  12  13
d  15  17  18
e  20  22  23

In [41]:
data_3.drop(["b","e"], axis=0) #axis=0 ile satirlarda islem yapiyoruz

    A   B   C   D   E
a   0   1   2   3   4
c  10  11  12  13  14
d  15  16  17  18  19

In [42]:
data_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      int64
 2   C       5 non-null      int64
 3   D       5 non-null      int64
 4   E       5 non-null      int64
dtypes: int64(5)
memory usage: 400.0+ bytes

In [43]:
data_3.describe()

               A          B          C          D          E
count   5.000000   5.000000   5.000000   5.000000   5.000000
mean   10.000000  11.000000  12.000000  13.000000  14.000000
std     7.905694   7.905694   7.905694   7.905694   7.905694
min     0.000000   1.000000   2.000000   3.000000   4.000000
25%     5.000000   6.000000   7.000000   8.000000   9.000000
50%    10.000000  11.000000  12.000000  13.000000  14.000000
75%    15.000000  16.000000  17.000000  18.000000  19.000000
max    20.000000  21.000000  22.000000  23.000000  24.000000

In [44]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'B', 'B', 'A', 'A'],
    'city' :    [ 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', 'blue', 'yellow', 'pink', 'black', 'green', 'red']
})

data

   age section     city gender favourite_color
0   10       A  Gurgaon      M             red
1   22       B    Delhi      F            blue
2   13       C   Mumbai      F          yellow
3   21       B    Delhi      M            pink
4   12       B   Mumbai      M           black
5   11       A    Delhi      M           green
6   17       A   Mumbai      F             red

In [45]:
data["gender"].value_counts()

M    4
F    3
Name: gender, dtype: int64

In [46]:
data["age"].sum()

106

In [47]:
data["age"].loc[data["gender"]=="F"].mean()
# gender=F olanların yaşlarının ortalamasını buluyor

17.333333333333332

In [48]:
import pandas as pd
people_dict={"first":["Richard", "Robert", "Jason"],
             "last" :["Stone", "Deepdive", "Seaborn"],
             "email": ["richardstone@email.com", "robertdeepdive@email.com", 
                        "jasonseaborn@email.com"]}
df=pd.DataFrame(people_dict)
df

     first      last                     email
0  Richard     Stone    richardstone@email.com
1   Robert  Deepdive  robertdeepdive@email.com
2    Jason   Seaborn    jasonseaborn@email.com

In [49]:
df[(df['first']=="Richard") | (df['last'] == 'Deepdive')]

     first      last                     email
0  Richard     Stone    richardstone@email.com
1   Robert  Deepdive  robertdeepdive@email.com

In [50]:
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'B', 'B', 'A', 'A'],
    'city' :    [ 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', 'blue', 'yellow', 'pink', 'black', 'green', 'red']
})

data

   age section     city gender favourite_color
0   10       A  Gurgaon      M             red
1   22       B    Delhi      F            blue
2   13       C   Mumbai      F          yellow
3   21       B    Delhi      M            pink
4   12       B   Mumbai      M           black
5   11       A    Delhi      M           green
6   17       A   Mumbai      F             red

In [51]:
data[data["age"]>=21]

   age section   city gender favourite_color
1   22       B  Delhi      F            blue
3   21       B  Delhi      M            pink

In [52]:
data["new"]=data["city"].str[:2] 
data
#data dataframe sonuna new diye yeni bir kolon ekledik.
#içeriği city colonundaki verilerin ilk iki harfi

   age section     city gender favourite_color new
0   10       A  Gurgaon      M             red  Gu
1   22       B    Delhi      F            blue  De
2   13       C   Mumbai      F          yellow  Mu
3   21       B    Delhi      M            pink  De
4   12       B   Mumbai      M           black  Mu
5   11       A    Delhi      M           green  De
6   17       A   Mumbai      F             red  Mu

In [53]:
data.set_index("section",inplace=True)
data

         age     city gender favourite_color new
section
A         10  Gurgaon      M             red  Gu
B         22    Delhi      F            blue  De
C         13   Mumbai      F          yellow  Mu
B         21    Delhi      M            pink  De
B         12   Mumbai      M           black  Mu
A         11    Delhi      M           green  De
A         17   Mumbai      F             red  Mu

In [54]:
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'B', 'B', 'A', 'A'],
    'city' :    [ 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', 'blue', 'yellow', 'pink', 'black', 'green', 'red']
})
data

   age section     city gender favourite_color
0   10       A  Gurgaon      M             red
1   22       B    Delhi      F            blue
2   13       C   Mumbai      F          yellow
3   21       B    Delhi      M            pink
4   12       B   Mumbai      M           black
5   11       A    Delhi      M           green
6   17       A   Mumbai      F             red

In [55]:
data.drop("city", axis=1) #column için axis=1 yazmazsan hata verir

   age section gender favourite_color
0   10       A      M             red
1   22       B      F            blue
2   13       C      F          yellow
3   21       B      M            pink
4   12       B      M           black
5   11       A      M           green
6   17       A      F             red

In [56]:
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'B', 'B', 'A', 'A'],
    'city' :    [ 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', 'blue', 'yellow', 'pink', 'black', 'green', 'red']
})
data

   age section     city gender favourite_color
0   10       A  Gurgaon      M             red
1   22       B    Delhi      F            blue
2   13       C   Mumbai      F          yellow
3   21       B    Delhi      M            pink
4   12       B   Mumbai      M           black
5   11       A    Delhi      M           green
6   17       A   Mumbai      F             red

In [57]:
data["city"]

0    Gurgaon
1      Delhi
2     Mumbai
3      Delhi
4     Mumbai
5      Delhi
6     Mumbai
Name: city, dtype: object

In [58]:
data.drop(6) #satır silerken axis=0 yazmana gerek yok

   age section     city gender favourite_color
0   10       A  Gurgaon      M             red
1   22       B    Delhi      F            blue
2   13       C   Mumbai      F          yellow
3   21       B    Delhi      M            pink
4   12       B   Mumbai      M           black
5   11       A    Delhi      M           green

In [59]:
data.iloc[1] #index sıralaması 0'dan başladığını unutma

age                   22
section                B
city               Delhi
gender                 F
favourite_color     blue
Name: 1, dtype: object

In [60]:
data.set_index("section",inplace=True)

In [61]:
data

         age     city gender favourite_color
section
A         10  Gurgaon      M             red
B         22    Delhi      F            blue
C         13   Mumbai      F          yellow
B         21    Delhi      M            pink
B         12   Mumbai      M           black
A         11    Delhi      M           green
A         17   Mumbai      F             red

In [62]:
#data.iloc[[3,4],[1,2]]
data.iloc[3:5,1:3]#stop numaraası 1 eksik olarak yazılır 
#iloc kullanırken satırların&sutunların index numaralarını yazmalısın

           city gender
section
B         Delhi      M
B        Mumbai      M

In [63]:
data.loc[["A","B"],["city","gender"]]

            city gender
section
A        Gurgaon      M
A          Delhi      M
A         Mumbai      F
B          Delhi      F
B          Delhi      M
B         Mumbai      M

In [64]:
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'D', 'E', 'F', 'G'],
    'country' : [ 'USA', 'GBR', 'TUR', 'NLD', 'BEL', 'DEU', 'FRA'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', 'blue', 'yellow', 'pink', 'black', 'green', 'red']
})
data.set_index('section', inplace=True)
data

         age country gender favourite_color
section
A         10     USA      M             red
B         22     GBR      F            blue
C         13     TUR      F          yellow
D         21     NLD      M            pink
E         12     BEL      M           black
F         11     DEU      M           green
G         17     FRA      F             red

In [65]:
data[data["age"]>=15]

         age country gender favourite_color
section
B         22     GBR      F            blue
D         21     NLD      M            pink
G         17     FRA      F             red

In [66]:
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'D', 'E', 'F', 'G'],
    'country' : [ 'USA', 'GBR', 'TUR', 'NLD', 'BEL', 'DEU', 'FRA'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', 'blue', 'yellow', 'pink', 'black', 'green', 'red']
})
data.set_index('section', inplace=True)
data

         age country gender favourite_color
section
A         10     USA      M             red
B         22     GBR      F            blue
C         13     TUR      F          yellow
D         21     NLD      M            pink
E         12     BEL      M           black
F         11     DEU      M           green
G         17     FRA      F             red

In [67]:
import pandas as pd
data[data["age"]>15]["country"]

section
B    GBR
D    NLD
G    FRA
Name: country, dtype: object

In [68]:
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'D', 'E', 'F', 'G'],
    'country' : [ 'USA', 'GBR', 'TUR', 'NLD', 'BEL', 'DEU', 'FRA'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', 'blue', 'yellow', 'pink', 'black', 'green', 'red']
})
data.set_index('section', inplace=True)
data

         age country gender favourite_color
section
A         10     USA      M             red
B         22     GBR      F            blue
C         13     TUR      F          yellow
D         21     NLD      M            pink
E         12     BEL      M           black
F         11     DEU      M           green
G         17     FRA      F             red

In [69]:
data[(data["age"]>15) & (data["favourite_color"] == "red")]

         age country gender favourite_color
section
G         17     FRA      F             red

In [70]:
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'D', 'E', 'F', 'G'],
    'country' : [ 'USA', 'GBR', 'TUR', 'NLD', 'BEL', 'DEU', 'FRA'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', 'blue', 'yellow', 'pink', 'black', 'green', 'red']
})
data.set_index('section', inplace=True)
data

         age country gender favourite_color
section
A         10     USA      M             red
B         22     GBR      F            blue
C         13     TUR      F          yellow
D         21     NLD      M            pink
E         12     BEL      M           black
F         11     DEU      M           green
G         17     FRA      F             red

In [71]:
data[(data["age"]>20) | (data["favourite_color"] == "red")]

         age country gender favourite_color
section
A         10     USA      M             red
B         22     GBR      F            blue
D         21     NLD      M            pink
G         17     FRA      F             red

In [72]:
outside = ['A1','A1','A1','A2','A2','A2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
np.random.seed(101)
data = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['X','Y'])
data

             X         Y
A1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
A2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [81]:
data.loc["A2","Y"]

1    0.605965
2    0.740122
3   -0.589001
Name: Y, dtype: float64

In [82]:
outside = ['A1','A1','A1','A2','A2','A2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
np.random.seed(101)
data = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['X','Y'])
data

             X         Y
A1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
A2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [86]:
data.loc["A1","X"]

1    2.706850
2    0.907969
3    0.651118
Name: X, dtype: float64

In [87]:
 data['X']['A1']

1    2.706850
2    0.907969
3    0.651118
Name: X, dtype: float64

In [88]:
outside = ['A1','A1','A1','A2','A2','A2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
np.random.seed(101)
data = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['X','Y'])
data

             X         Y
A1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
A2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [92]:
data.loc["A2"].loc[1,"Y"]

0.6059653494949336

In [99]:
data["Y"][3]

0.6059653494949336